@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  scroll-padding-top: 1rem;  
  scroll-behavior: smooth;
  list-style: none;
  box-sizing: border-box;
}
:root{
    --main-color:#d90429 ;
    --text-color:#020102 ;
    --bg-color: #fff;
}
section{
  padding: 4rem 0 2rem;
}
img{
  width: 100%;
}
body{
  color: var(--text-color);
}
.container{
  max-width: 1068px;
  margin-left: auto;
  margin-right: auto;
}
header{
 display: block;
 width:100%;
 position: fixed;
 top: 0;
 left: 0;
 z-index: 100;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 35px;
}
#menu-icon{
  font-size:  24px;
  cursor: pointer;
  color: var(--text-color);
display:none;
}
.logo{
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-color);
}
.logo span{
  color: var(--main-color) ;
}
.navbar{
  display: flex;
  column-gap: 2rem;
}
.navbar a{
  color: var(--text-color);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500 ;
}
.navbar a:hover{
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
.home{
  max-width: 1300px;
  margin: auto;
  width: 100%;
  min-height: 640px;
  display: flex;
  align-items: center;
  background: url(img/background-home.png);
  background-repeat: no repeat;
background-size: cover;
background-position: center left;
}
.home-text{
  padding-left: 130px;
}
.home-text{
  font: size 2.4rem; 
}
.home-text span{
  color: var(--main-color);
}
.home-text p{
  font-size: 0.938rem;
  font-weight: 300;
  margin: 0.5rem 0 1.2rem;
}
.btn{
  padding: 10px 22px;
  background: var(--main-color);
  color: var(--bg-color);
  font-weight:400;
}
.btn:hover{
  background: #fd052f;
}
.heading{
  text-align: center;
}
.heading span{
  font-weight: 500;
  color: var(--main-color);
}
.heading p{
  font-size: 0.938rem;
  font-weight: 300;
}
.cars-container{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}
.cars-container .box{
  flex: 1 1 17rem;
  position: relative;
  height: 200px;
  border-radius: 0.5rem; 
  overflow:hidden;
}
.cars-container .box img
{
width: 100%;
height: 100%;
overflow: hidden;
}
.cars-container.box img:hover{
  transform: scale(1.1);
  transition: 0.5s;
}
.cars-container.box h2{
  position: absolute;
 
  font-weight: 400;
  font-size: 1rem;
  background: var(--bg-color);
  padding: 8px;
  border-radius: 0.5rem;
}
.cars-container.box:hover h2{
  background: var(--main-color);
  color: var(--bg-color);
}
.about{
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  gap: 1.5 rem;
}
.about-img{
  flex:1 1 21rem;
}
.about-text{
  flex:1 1 21rem;
}
.about-text span{
  font-weight: 500;
  color: var(--main-color);
}
.about-text h2{
  font-size: 1.7rem;
}
.about-text p{
  font-size: 0.938rem;
  margin: 0.5rem 0 1.4rem;
}
.parts-conatiner{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}
.parts-conatiner.bo x{
  flex: 1 1 17rem;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius:0.5rem;
}
.parts-conatiner.box img{
  width: 100;
  height: 150px;
  object-fit: contain;
  object-position: center;
  margin-bottom: 1rem;
}
.parts-conatiner.box h3{
  font-size: 1.1rem;
  font-weight: 600;
}
.parts-conatiner.box span{
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--main-color);
}
.parts-conatiner.box .bx{
  color: var(--main-color);
  margin: 0.8rem 0;
}
.parts-container.box.btn{
  max-width: 120px;
}
.parts-conatiner .box.details{
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 1.8rem;
  right: 1rem;
  font-size: 1rem;
  color: var(--text-color);
}
footer{
  width: 100%;
  background: red;
  color: #fff; 
  display: grid;
  place-items: right; 
  padding: 2em; 
  font-size: 1.0rem;
}
.btn-color{
  background-color: #0e1c36;
  color: #fff;
  
}

.profile-image-pic{
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.cardbody-color{
  background-color: #ebf2fa;
}

a{
  text-decoration: none;
}
